extends baseEmail

block content
  p Hi #{firstName},
  p We have received your EV Franchise Booking request. Our team will reach out to you shortly.
  p You can login to your account with this password :- XYZ
