extends baseEmail

block content
  p Hi #{firstName},
  p Thank you for joining us at EV Charging Franchise, where we're driving the future of electric mobility together. We've received your submission and will contact you within 2 business days to address your needs and answer your questions.
  p You can login to your account with this temporary password :- #{password}
  p Thank You <br/>Team EV CHARGING STATION IND
